/* first page */
body{
    background-color: rgb(234, 239, 239);
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    box-shadow: 0px 2px 4px rgba(136, 135, 135, 0.393);
    border-radius: 10px;
}

.title {
    font-size: 50px;
    color: #43597d;
    margin-left: 10px;
    
}
.nav-item {
    margin: 5px;
    color: #a0c0d6;
}
.nav-item:hover{
    color: rgb(60, 58, 58);
    cursor: pointer;
    transform: scale(1.05);
    transition: ease 0.3s;
}
.nav-item-btn {
    border: none;
    outline: none;
    text-decoration: none;
    background-color: #de7456;
    border-radius: 30px;
    padding: 15px;
    margin: 10px;
    color: aliceblue;
}
.nav-item-btn:hover{
    background-color: rgb(117, 112, 112);
    color: aliceblue;
    cursor: pointer;
    transform: scale(1.05);
    transition: ease 0.3s;
}
.btn{
    outline: none;
    border: none;
    background-color: #de7456;
    padding: 10px;
    border-radius: 30px;
}
.btn:hover{
    background-color: #9082f7;
    color: aliceblue;
    cursor: pointer;
    transform: scale(1.05);
    transition: ease 0.3s;
}
.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-title{
    font-size: 20px;
    color: #2b3240;
}

/* packets page */

.packets-title {
    font-size: 50px;
    color: #43597d;
    margin-left: 10px;
    border-bottom: 1px solid #43597d;
    position: relative;
}
.packets-title::after{
    content: '';
    position: absolute;
    left: 0; 
    bottom: -1px; 
    width: 100%; 
    height: 1px; 
    background-color: rgba(0, 0, 0, 0.2); 
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3); 
}
  

.form-container{
    margin: 10px;
    margin-bottom: 20px;
}
.srcdest-ip {
    font-size: 20px;
    color: #2b3240;
}
.options-container-lbl{
    font-size: 20px;
    color: #2b3240;
    
}
.filter-label-srcdest{
    border-radius: 10px;
    color: #2b3240;
    outline: none;
    border: none;
    padding: 5px;
}
.filter-label-srcdest:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
    cursor: pointer;
}
.options-container{
    border-radius: 10px;
    padding: 5px;
}
.filter-btn {
    margin-left: 5px;
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #de7456;
    color:aliceblue;
}
.filter-btn:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
    cursor: pointer;
    background-color: #e25832;
}

.table-container {
    width: 100%;
}
.table-td{
    text-align: center;
    padding: 10px;
    border: 1px solid #2b3240c0;
    border-radius: 10px;
    color: #43597d;
}
.table-td:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
    background-color: #43597d;
    color: #a0c0d6;
    
}
.header-tbl {
    text-align: center;
    height: 30px;
    border: 1px solid #2b3240c0;
    border-radius: 10px;
}
.header-tbl:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
    background-color: #4f545e65;
}
.show-all-btn {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #de7456;
  }
  .show-all-btn:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
    background-color: #4caf50;
  }


