<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packet Sniffer</title>
</head>
<body>
    <h1 class="title">Welcome to the Packet Sniffer</h1>
    <p class="btn-title">Click the button below to start capturing packets:</p>
    <form action="/capture" method="post">
        <button class="btn" type="submit">Start Capture</button>
    </form>
    
</body>
</html>
